In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# Heres an example of what a JSON (JavaScript Object Notation) looks like:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [4]:
import json

In [6]:
data = json.loads(json_obj)

In [7]:
data

{'zoo_animal': 'Lion',
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'clothes': None,
 'diet': [{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]}

In [10]:
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [18]:
dframe = DataFrame(data['diet'])

In [14]:
dframe

  zoo_animal   food    fur
0    Gazelle  grass  Brown

In [16]:
dframe.columns

Index(['zoo_animal', 'food', 'fur'], dtype='object')

In [19]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

In [22]:
data = pd.read_json(url, orient='columns')

In [23]:
data.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0